* {
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
    padding:0;
}

nav {
    background-color: rgba(204,155,109,0.8);
    color: white;
    padding: 20px;
    position: fixed;
    width: 100%;
    z-index: 99999;
}

.options {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0px
}

.options li a{
    margin:0px 5px; /* EJE Y 0px EJE X 5px */
    font-size: 15;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.4s ease;
    color:white;
    text-decoration: none;
}

.options li a:hover  {
    color:tomato
}

/* HOME SCREEN */

.contenedor_home {
    background-color: #f4a9a8;
    height: 730px;
    width: 100%;
    background-image: linear-gradient(0deg, #cc9b6d 0%, #0808362a 100%), url('../images/ay.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;   
}

.textos_home {
    color: white;
    display: flex; /*creamos una caja en el div*/
    flex-direction: column; /*con esta funcion se da vuelta la caja*/
    justify-content: center;
    align-items: center;
    height: 580px;
}

.textos_home h1 {
    font-size: 50px;
    text-align: center; /*texto centrado*/
    border-bottom: 2px solid white;
    width: 90%
}

.textos_home p {
    text-align: center;
    font-size: 20px;
    margin-top: 15px;
    max-width: 700px;
}

.textos_home p a {
    text-decoration: none;
    color:white;
}

.textos_home p a:hover {
    color:tomato;
}

/* About Screen */

.contenedor_about {
    background-color: #cc9b6d;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    padding: 30px 0px 60px 0px;
}

.contenedor_img {
    display: flex;
    justify-content: center;

}

.contenedor_img img {
    width: 400px;
    height: 400px;
    border-radius: 100%;
    object-fit:cover;
}

.about_info {
    width: 80%;
    max-width: 600px;
}

.about_info div {
    margin-bottom: 30px; 
}

.about_info div h2 {
    color: rgb(63,111,123);
    font-size: 30px;
    border-bottom: 1px solid whitesmoke;
    margin-bottom: 15px;
    padding-bottom: 5px;
}

.about_info div p {
    color: rgb(255, 255, 255);
    line-height: 2rem;
    font-size: 18px;
    font-weight: 400;
}

.resume_contact {
    margin-bottom: 100px;
}

.resume_contact a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.resume_contact a:hover{
    color:rgb(63,111,123)
}

/* Resume Screen */

.contenedor_resume {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2.5rem 1rem;
}

.contenedor_resume > div {
    display: flex;
    border-bottom: 1px solid lightgray;
    padding: 3rem 0rem;
}

.resume__title {
    font-family: 'Times New Roman', Times, serif;
    min-width: 7rem;
    height: 2rem;
    width:30%;
}

.resume__title > h2 {
    border-bottom: 3px solid rgb(141, 141, 141);
    width: 80%;
    font-size: 1.3rem;
}

.resume_content {
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 70%;
    max-width: 50rem;
}

.resume_content > h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.7rem;
    font-weight: bold;
}

.resume_content > h4 {
    color: rgb(77, 77, 77);
    font-weight: 25%;
}

.resume_content h3 {
    font-size: 1.7rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.resume_content h4 {
    color: rgb(123, 123, 123);
    font-weight:130px;

}

.resume_content p {
    color: rgb(146, 146, 146);
    font-weight: 300;
}

.resume_listSkills {
    list-style: none;
    margin-top: 3.5rem;
    padding-right: 1rem;
}

.resume_listSkills > li {
    position: relative;
    margin-bottom: 60px;
    height: 42px;
    background: rgb(204,204,204);
    border-radius: 10px;
    text-align: start;
}

.resume_listSkills-tittle {
    position: absolute;
    top:-2rem;
    font-weight: bold;
    font-size: 1.1rem;
}

.resume_listsSkills-active {
    position: absolute;
    left: 0;
    top: 0;
    height: 42px;
    margin:0;
    background: #cb9b6e;
    border-radius: 10px;
}

/* PORTFOLIO reivsar codigo!!!! FALTA HOVER */

.portfolio {
    min-height: 30rem;
    display: flex;
    flex-direction: column;
    padding: 3em 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgb(197, 197, 197);
}

.portfolio_section > h2 {
    margin-top:3rem;
    font-size: 1.2rem;
    color: rgb(170, 170, 170);
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
}
.portfolio_works {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem;
    background-color: #292929;
}

.portfolio_item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem;
       height: 9rem;
    width: 13rem;
}

.portfolio_item i {
    height: 9rem;
    width: 13rem;
    font-size: 120px;
    margin-top: 10px;
    color: #cc9b6d;
}

.portfolio_item a {
    position:relative;
    height: 9rem;
}

.portfolio_itemOverlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #cb9b6e;
    transition: opacity 0.3s ease-in;
    width: 100%;
}


.portfolio_itemOverlay h5 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3rem;
    border-bottom: 1px solid white;
    margin-bottom: 1rem;
}

.portfolio_itemOverlay p {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.8rem;
}

.portfolio_itemOverlay:hover {
    opacity: 0.9;
    background: rgb(54, 54,54);
}

/* Responsive */

@media screen and (max-width: 1000px) {

    .contenedor_about {
        flex-direction: column;
    }

    .about_img { /* REVISAR */
        margin-bottom: 2rem;
    }

    .contenedor_resume {
            width: 90%;
            margin: auto;
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 2.5rem 1rem;
    }
    .resume_content {
        text-align: center;
        justify-content: center;
        margin-top: 2rem;
    }

    .resume__title {
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
    }
}
